# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# tutorial
 
cart_schema.sql
.env.example
fullstack_testv3_20_01_2026.sql
fullstack_testv4_Altered.sql
migration_20260120_add_payments.sql

fullstack_testv5.sql
fullstack_testv6.sql
